<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Ask Tomster</h2>
  <p>Hi! My name is Karen and I'm a student at <a href="http://epicodus.com">Epicodus</a>. I enrolled in the Java/Android track that started in August 2016 and expect to finish my internship in Febrary 2017. This is the individual project for the 3rd week of our <a href="http://learnhowtoprogram.com/javascript">JavaScript</a> class.</p>
  <p>So far we have learned about building a development environment in Node.js using npm and gulp, practiced cosuming API's, and mastered the basics of Angular.js. This week we discovered the joys of Ember.js. The theme for this Q&A site was inspired by the Ember mascot, Tomster.</p>
  {{#link-to 'index' class="button"}}
    Ask Tomster a Question!
  {{/link-to}}
</div>
