<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact</h2>
  <p>If you have any comments, questions, or suggestions for "Ask Tomster" please contact: </p>
  <p>
    Karen Freeman-Smith
    <address>
      15130 SE Diamond Lane<br>
      Milwaulkie, OR 97626
    </address>
    <a href="tel:541.331.9533">+1 (541) 331-9533</a><br>
    <a href="mailto:karenfreemansmith@gmail.com">karenfreemansmith@gmail.com</a>
  </p>
  {{#link-to 'about' class="button"}}
    More About Ask Tomster
  {{/link-to}}
</div>
