<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    Tomster is always here for you whenever you need him.
    <ul>
      <li>Ask Tomster a question</li>
      <li>Get an answer from Tomster</li>
      <li>Think you have a better answer than Tomster? You can answer questions too!</li>
      <li>Get feedback from the entire community.</li>
    </ul>
  </p>
</div>
{{ask-question saveQuestion="saveQuestion"}}
{{#each model as |question|}}
  {{list-questions question=question}}
{{/each}}
